<div class="col-sm-3 offset-sm-1 blog-sidebar">

  <%= source_helper("alert alert-info blog-sidebar-source") %>

  <div class="sidebar-module">
    <h4>Topics</h4>
    <% @side_bar_topics.each do |topic| %>
      <p><%= link_to topic.title, topic_path(topic) %></p>
    <% end %>
  </div>

  <div class="sidebar-module">
    <h5>Find me elsewhere:</h5>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/lindsayfowers"><%= fa_icon "github" %></a></li>
      <li><a href="https://www.instagram.com/loogiefowser/?hl=en"><%= fa_icon "instagram" %></a></li>
      <li><a href="https://www.facebook.com/lindsay.fowers"><%= fa_icon "facebook" %></a></li>
      <li><a href="https://twitter.com/LoogieFowser"><%= fa_icon "twitter" %></a></li>
    </ol>
  </div>
</div>
